.etape3-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  h3 {
    font-size: 2em;
    padding: 0 0 1em 0;
  }

  #name {
    color: darkcyan;
  }

  div.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;

    div.box {
      margin: 1em;
      padding: 1em;
      min-height: 6em;
      border: solid 1px pink;
      border-radius: 20px;
    }
  }
}

@media (min-width: 1000px) {
  .etape3-container {
    div.cards {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;

      div.box {
        width: 18%;
      }
    }
  }
}
