.etape3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  h3 {
    font-size: 2em;
    padding: 0 0 1em 0;
  }

  b {
    color: darkcyan;
  }

  #name {
    color: darkcyan;
  }

  div.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;

    div.box {
      margin: 1em;
      padding: 1em;
      min-height: 6em;
      border: none;
      border-radius: 20px;
      box-shadow: 5px 5px 17px 0px #E55D92, -5px -5px 17px 0px #5FC3E4;

      .span {
        font-size: 20px;
        line-height: 1.6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: 1000px) {
  .etape3-container {
    div.cards {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;

      div.box {
        width: 18%;
      }
    }
  }
}
