.etape2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form, .form-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      //font-size: 2em;
      padding: 0.5em;
      font-family: hoomanLove, sans-serif;
    }

    .facultatif {
      color: darkcyan;
      font-style: italic;
    }

    select, input {
      width: 50%;
      height: 4em;
      background-color: #fff;
      color: #000;
      border: solid 1px #000;
      border-radius: 3px;
    }

    select,
    option {
      margin: 1em;
    }

    input {
      margin: 1em;
    }
  }
}


/*320px — 480px : les mobiles*/
@media only screen and (max-width: 480px) {
  .etape2-container {
    .form {
      .form-card {
        align-items: flex-start;

        select, input {
          width: -webkit-fill-available;
        }
      }
    }
  }
}


//height: 100%;
//           width: 100%;
//                     display: flex;
//flex-direction: column;
//justify-content: center;
///* align-items: center;